/* html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
} */
body{
    font-family: 'Open Sans',sans-serif;
    margin: 0;
    background-color: white;
    width: 100%;     
}


.wrapper-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    box-shadow: 0px 4px 4px -5px;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
}
.nav-logo{
    font-size: 15px;
    margin-left: 5%;
}
.nav-logo span{
    color: yellow;
}
.nav{
  justify-content: space-between;
  display: flex;
  width: 30%;  
}


.icon{
    justify-content: space-between;
    width: 17%;
    display: flex;
    font-size: 15px;
    margin-right: 10%;
    align-content: center;
}
.home{
    display: flex;
    margin-top: 30px;
    margin-left: 5%;  

}
.home i{
    margin-right: 10px;
}
.image{
    display: flex;
    padding-left: 5%;
    padding-top: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image h1{
    margin-left: 5%;
}
.image-word{
    text-align: justify; 
    width: 50%;
    margin-left: 4%;
}

.image-icons{
    margin-left: -1%;
}
.image-icons span{
    
    background: whitesmoke;
    border-radius: 20px;
    padding: 10px;
    font-size:10px;
    margin: 5px;
    
}
.item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    background-color: rgb(245, 245, 245);
    width: 86%;
    height: 120px;
    margin-left: 6%;
    
}
.item-content{
    margin-left: 9%;
    margin-top: 20px;

}
.item-form{
    margin-left: 280px;
    padding-top: 5%;
}
.item-form input{
    height: 35px;
    width: 300px; 
    border: white; 
}
.item-form button{
  background: yellow;
  border: white;
  height: 35px;
  width: 120px;
  font-size: 11px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding-top: 4px;
  border-radius: 4px;  
}
.images{
    margin-left: 6%;
    padding-top: 3%;
    width: 100%;
}
.images img{   
    max-width: 100%;   
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-left: 6%;    
}

.footer-tags button{
    justify-content: space-between;
    margin: 6px;
    border: white;
    padding: 10px 10px;
}

.footer-follow span{
    margin: 5px;
    background: whitesmoke;
    border-radius: 20px;
    padding:10px;
    font-size:10px;
}

.footer-post img{
  float: left;
  margin-right: 20px;
  
}
.footer-post p{
    font-size: 11px;
}
 
.red{ color: red;}
.blue{ color: blue;}




